<h2><%=@user.username%>'s Hamilton Fan Page</h2>
<br />
<%= render partial: "user_info_structure", locals: {user: @user} %>
<br /> 
<h3><%="#{@user.username}'s Posts"%></h3>
 <%= render partial: "/posts/post_with_one_comment_display", locals: {user: @user} %>
<br />
<h4><%=link_to("All Posts You Have Commented On",commented_posts_path) if current_users_page(@user) %></h4>
<h4><%=link_to("Delete This Account",user_path(@user), method: :delete,data: { confirm: "Are you sure?" }) if current_users_page(@user) %></h4>
